<% layout('layouts/boilerplate') %>
<body>
    <div class="row mt-2">
        <div class="col-8 offset-2">
    <h2 class="text-center">Edit listing</h2>
    <form action="/listing/<%=post.id %>?_method=put" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" type="text" name="listing[title]" value="<%= post.title %>" required></input>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide title </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required> <%= post.description %> </textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide description </div>
        </div>    
        <div class="mb-3">
            <p for="orginal-image" class="form-label">Orginal Image</p>
            <img id="edit-img" src="<%= orginalImgUrl%>" alt="orginal-image">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image </label>
            <input type="file" class="form-control" name="listing[img]">
            <div class="valid-feedback">Uploaded successfully</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-3">
                <label for="price" class="form-label" >Price</label>
                <input type="number" class="form-control" name="listing[price]" value="<%= post.price %>" required></input>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide price </div>
            </div>
            <div class="mb-3 col-md-9">
                <label for="country" class="form-label" >Country</label>
                <input type="text" class="form-control" name="listing[country]" value="<%= post.country%>" required></input>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide country </div>
            </div>
            <div class="mb-3 col-md-4">
                    <label for="category" class="form-label" >category</label>
                    <select name="listing[category]" class="form-control " value="<%= post.category %>" id="category" required>
                        <option value="Trending" <%= post.category==="Trending"?"selected":"" %>>Trending</option>
                        <option value="Rooms" <%= post.category==="Rooms"?"selected":"" %>>Rooms</option>
                        <option value="Iconic cities" <%= post.category==="Iconic cities"?"selected":""%>>Iconic cities</option>
                        <option value="Mountains" <%= post.category==="Mountains"?"selected":""%> >Mountains</option>
                        <option value="Castles" <%= post.category==="Castles"?"selected":""%>>Castles</option>
                        <option value="Amazing pools" <%= post.category==="Amazing pools"?"selected":""%>>Amazing pools</option>
                        <option value="Camping" <%= post.category==="Camping"?"selected":""%>>Camping</option>
                        <option value="Farms" <%= post.category==="Farms"?"selected":""%>>Farms</option>
                        <option value="Arctic" <%= post.category==="Arctic"?"selected":""%> >Arctic</option>
                        <option value="Boats" <%= post.category==="Boats"?"selected":""%> >Boats</option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide category </div>
                </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label" >Location</label>
            <input required type="text" class="form-control" name="listing[location]" value="<%= post.location %>" ></input>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide location </div>
        </div>
        <button class="btn btn-dark add-btn mt-2">Submit</button>
    </form>
    </div>
    </div>
</body>