<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h2>Edit listing</h2>
    <form action="/listing/<%=post.id %>?_method=put" method="post">
        <input type="text" name="listing[title]" value="<%= post.title %>"></input>
        <br><br>
        <textarea name="listing[description]" type="text" > <%= post.description %> </textarea>
        <br><br>
        <input type="text" name="listing[price]" value="<%= post.price %>"></input>
        <br><br>
        <input type="text" name="listing[location]" value="<%= post.location %>"></input>
        <br><br>
        <input type="text" name="listing[country]" value="<%= post.country%>"></input>
        <br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>