<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h2><%= post.title %></h2>
    <ul>
        <li><%=post.description %></li>
        <li>&#8377;<%=post.price.toLocaleString("en-IN") %></li>
        <li><%=post.location %></li>
        <li><%=post.country %></li>
    </ul>
    <a href="/listing/<%= post.id %>/edit">Edit</a>
</body>
</html>